*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: #b6b2b2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress{
  width: 200px;
  height: 20px;
  border: 1px solid black;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
}
.progress .progress-bar{
  height: 100%;
  width: 0;
  text-align: right;
  background:linear-gradient(rgb(200, 244, 1),rgb(119, 233, 6)) ;
  border-radius: 8px;
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}